body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.CV {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.section p, .section ul {
    margin-bottom: 10px;
}

.section ul {
    padding-left: 20px;
}

.section li {
    list-style-type: disc;
}

#id1{
    border-radius: 20px;
    box-shadow:0 0 10px black;
}
a
{text-decoration: none;}

/* Media Query for Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}